// @media (max-width: 1399px) {

// }

//ipad pro
@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .promo {
    height: 100vh;
    &_text {
      width: 80vw;
      margin: 0 auto;
      margin-top: 6vh;
    }
    &_btn {
      margin-top: 18vh;
    }
  }
  h1 {
    margin-top: 21vh;
  }
}
//ipad, tab
@media (max-width: 991px) {
  .title {
    font-size: 32px;
    &_big {
      font-size: 51px;
    }
  }
  .promo {
    &_text {
      margin-top: 6vh;
    }
    &_btn {
      margin-top: 9vh;
    }
  }
  h1 {
    margin-top: 14vh;
  }

  .more {
    margin-top: 3vh;
  }
}
// tab
// @media (max-width: 767px) {
  
// }

//cell
@media (max-width: 575px) {
  .title {
    font-size: 22px;
    line-height: 31px;
    &_big {
      font-size: 36px;
      line-height: 26px;
    }
  }
  .promo {
    height: 100vh;
    padding: 25px 0 0 0;
    &_text {
      display: none;
    }
    &_btn {
      margin-top: 7vh;
    }
  }
  .logo {
    &_text{
      font-size: 12px;
      margin-top: 7px;
    }
    img {
      height: 40px;
    }
  }
  h1 {
    margin-top: 13vh;
  }
  .promo_btn, .gift_btn {
    font-size: 16px;
  }
}